<launch>
  <node pkg="rods" type="frame_tf_broadcaster" name="frame0" args="/frame1" output="screen"/>
  <node pkg="rods" type="frame_tf_broadcaster" name="frame1" args="/frame2" output="screen"/>
  <node pkg="rods" type="frame_tf_broadcaster" name="frame2" args="/frame3" output="screen"/>
  <node pkg="rods" type="frame_tf_broadcaster" name="frame3" args="default" output="screen"/>

  <node pkg="rods" type="basic_shapes" name="shape1" args="/frame1 1" output="screen"/>
  <node pkg="rods" type="basic_shapes" name="shape2" args="/frame2 2" output="screen"/>
  <node pkg="rods" type="basic_shapes" name="shape3" args="/frame3 3" output="screen"/>

  <node pkg="rviz" type="rviz" name="rviz"/>
</launch>
