<launch>
  <master auto="start"/>

<node 
    pkg="rviz" 
    type="rviz" 
    name="rviz" 
  />

  <node 
    pkg="course_work" 
    type="commander" 
    name="commander" 
    output="screen"
    launch-prefix="gnome-terminal --command" 
  />

  <node 
    pkg="course_work" 
    type="flagman" 
    name="flagman" 
    output="screen"
    launch-prefix="gnome-terminal --command" 
  />

  <node 
    pkg="course_work" 
    type="world" 
    name="world" 
    output="screen"
    launch-prefix="gnome-terminal --command" 
  />
</launch>