<launch>
    <node pkg="lab2" type="tf_broadcaster" name="frame_2" >
        <param name="prev_frame_id" type="string" value="frame_1" />
    </node>

    <node pkg="lab2" type="tf_broadcaster" name="frame_1">
        <param name="prev_frame_id" type="string" value="frame_0" />
    </node>

    <node pkg="lab2" type="tf_broadcaster" name="frame_0">
        <param name="prev_frame_id" type="string" value="map" />
    </node>

    <node pkg="lab2" type="tf_broadcaster" name="map">
    </node>



    <node pkg="lab2" type="stick" name="stick0">
        <param name="id" type="int" value="0"/>
        <param name="frame" type="string" value="frame_0" />
    </node>

    <node pkg="lab2" type="stick" name="stick1">
        <param name="id" type="int" value="1"/>
        <param name="frame" type="string" value="frame_1" />
    </node>

    <node pkg="lab2" type="stick" name="stick2">
        <param name="id" type="int" value="2"/>
        <param name="frame" type="string" value="frame_2" />
    </node>



    <node pkg="rviz" type="rviz" name="rviz"/>
</launch>
