<launch>
	<node pkg="lab3" type="tf_broadcaster" name="lost_robot_tf_broadcaster" args="lost_robot"/>
	<node pkg="lab3" type="lost_robot" name="lost_robot"/>
	<node pkg="lab3" type="tf_broadcaster" name="exit_tf_broadcaster" args="exit"/>
	<node pkg="lab3" type="exit" name="exit"/>
	<node pkg="lab3" type="tf_broadcaster" name="helper_robot_tf_broadcaster" args="helper_robot"/>
	<node pkg="lab3" type="helper_robot" name="helper_robot"/>
	<node pkg="rviz" type="rviz" name="rviz"/>	
</launch>
