<launch>
    <arg name="use_sim_time" value="true"/>

    <node pkg="rviz" type="rviz" name="rviz"/>

    <node pkg="stick" type="publisher" args="1" name="pub1"/>
    <node pkg="stick" type="publisher" args="2" name="pub2"/>
    <node pkg="stick" type="publisher" args="3" name="pub3"/>

    <node pkg="stick" type="frame_tf_broadcaster" args="0" name="map"/>
    <node pkg="stick" type="frame_tf_broadcaster" args="1" name="frame1"/>
    <node pkg="stick" type="frame_tf_broadcaster" args="2" name="frame2"/>
    <node pkg="stick" type="frame_tf_broadcaster" args="3" name="frame3"/>
  </launch>
